
body{

}

.wrapper{
    margin: 0 auto 0 auto;
    padding-top: 20px;
    width: 50%;
    height: 450px;
    border: 3px solid #f1f1f1;
    background-color: #f1f1f1;
}

.header{
    text-align: center;
    font-size: 20px;
}

nav.navigation{
    width: 80%;
    margin: 0 auto 0 auto;
}

nav.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #939DA7;
}

nav.navigation li {
    float: left;
}

nav.navigation li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    /*padding-top: 100px;*/
    text-decoration: none;
}

nav.navigation li a:hover:not(.active) {
    background-color: #111;
}

nav.navigation .active {
    background-color: #227FAA;
}

form{
    margin: 0 auto 0 auto;
    margin-top: 100px;  
    width: 80%
}

input[type=text], input[type=password]{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #6B888F;

}
button{
    margin: 8px 0;
    width: 100%;
}

.loginbtn{
    background-color: #2C3D4F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #939DA7;
    cursor: pointer;
}

.footer{
    /*position: relative;*/
    /*margin: 0 auto 0 60px;*/
    margin-left: 90px;
    color: lightslategrey;
}
