
#wrapper{
    font-size: 15px;
}

.jumbotron{
    margin-bottom: 0px;
    text-align: center;
}

#smcol1st{
    text-align: left;
}

#smcol1st ul{
    width: auto;
    padding-left: 0;
}

#smcol1st ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    border: 1px solid gray;
    border-collapse: collapse;
    overflow-x: auto;

    
}

#smcol1st ul li a{
    margin: 0px;
    width: auto;
}