
#wrapper{
    font-size: 15px;
}

.jumbotron{
    margin-bottom: 0px;
    text-align: center;
}

#md-col-1 ul li {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

#ParaHead{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#md-col-para{
    font-size: 18px;
}



#photo1{
    width: 350px;
    height: 350px;
}


