
#wrapper{
    font-size: 15px;
}

.jumbotron{
    margin-bottom: 0px;
    text-align: center;
}

#md-col-1{
    text-align: left;
}

#md-col-1 ul{
    width: auto;
    padding-left: 0;
}

#md-col-1 ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    border: 1px solid gray;
    border-collapse: collapse;
    overflow-x: auto;
}

#md-col-1 ul li a{
    margin: 0px;
    width: auto;
}

#ParaHead{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#md-col-para{
    font-size: 18px;
}

#md-col-3{
    /*margin: 0 auto 0 auto;*/
}


#photo1{
    width: 350px;
    height: 350px;
}


