body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #EFECCA;
    padding-bottom: 60px;

}

.color{
color: 
#FCFFF5    
#F1F1F1
#EFECCA
#ACCFCC
#91AA9D
#3E606F
#193441;
}

.wrapper{
    /*background-color: #D1DBBD;*/
}

.header{
    text-align: center;
    padding: 10px 0 10px 0;
}

.header h1{
    font-size: 45px;
}

.container-fluid{
    background-color: #3E606F;
    border-color: transparent;
}

#home a{
    background-color: #046380;
}

#kev_heading{
    margin-left: 10px;
}

#kev_image{
    margin-left: 10px;
}

/*#kev_para{

}*/

#menuSpan{
    padding-top: 5px;
    font-size:30px;
    cursor:pointer; 
    float:right; 
    color: #FCFFF5;
}

.sidenav {
    margin-top: 0px;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #193441;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ACCFCC;
    display: block;
    transition: 0.3s
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 40px;
}

.sidenav .dropdown-menu{
    margin-left: 25px;
    background-color: #3E606F;
    
}

#dropdown-menu a{
    color: #91AA9D;
}


#dropdown-menu a:hover{
    color: #f1f1f1;
    background-color: transparent;
}

#caret{
    margin-top: 17px;
    position: fixed;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px
    float: bottom;
    text-align: center;
}
